.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(238, 37, 37);
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.left-section .company-logo {
  height: 40px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
